<th:block th:fragment="footer">
    <footer class="footer bg-dark">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Về cửa hàng</h4>
                            <ul class="contact-info">
                                <li>
                                    <span class="contact-info-label">Địa chỉ</span>số 48 Phùng khoang, trung văn, Nam Từ Liêm, Hà  Nội.

                                </li>
                                <li>
                                    <span class="contact-info-label">Số điện thoại</span><a href="tel:">0355540066</a>
                                </li>
                                <li>
                                    <span class="contact-info-label">Email</span> <a href="mailto:mail@example.com">anhkhoa98nd@gmail.com</a>
                                </li>
                                <li>
                                    <span class="contact-info-label">Thời gian làm việc</span>
                                    Thứ 2 - Chủ nhật / 9:00AM - 8:00 PM
                                </li>
                            </ul>
                            <div class="social-icons">
                                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank" title="Instagram"></a>
                                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                            </div><!-- End .social-icons -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-lg-3 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Thông tin</h4>
                            <ul class="links">
                                <li><a href="/">> Trang chủ</a></li>
                                <li><a href="/san-pham">> Sản phẩm</a></li>
                                <li><a href="/tin-tuc">> Tin tức</a></li>
                                <li><a href="/lien-he">> Liên hệ</a></li>
                            </ul>
                        </div><!-- End .widget -->
                    </div><!-- End .col-lg-3 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Hướng dẫn & chính sách</h4>
                            <ul class="links">
                                <li><a href="/huong-dan">> Hướng dẫn mua hàng</a></li>
                                <li><a href="/doi-hang">> Chính sách đổi trả & hoàn tiền</a></li>
<!--                                <li><a href="#">> Chính sách thanh toán</a></li>-->
<!--                                <li><a href="#">> Chính sách vận chuyển</a></li>-->
<!--                                <li><a href="#">> Chính sách bảo mật</a></li>-->
                            </ul>
                        </div><!-- End .widget -->
                    </div><!-- End .col-lg-3 -->

<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="widget widget-newsletter">-->
<!--                            <h4 class="widget-title">Subscribe newsletter</h4>-->
<!--                            <p>Get all the latest information on events, sales and offers. Sign up for newsletter:</p>-->
<!--                            <form action="#" class="mb-0">-->
<!--                                <input type="email" class="form-control m-b-3" placeholder="Email address" required>-->

<!--                                <input type="submit" class="btn btn-primary shadow-none" value="Subscribe">-->
<!--                            </form>-->
<!--                        </div>&lt;!&ndash; End .widget &ndash;&gt;-->
<!--                    </div>&lt;!&ndash; End .col-lg-3 &ndash;&gt;-->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

<!--        <div class="container">-->
<!--            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">-->
<!--                <p class="footer-copyright py-3 pr-4 mb-0">&copy; Porto eCommerce. 2020. All Rights Reserved</p>-->

<!--                <img th:src="@{/shop/images/payments.png}" alt="payment methods" class="footer-payments py-3">-->
<!--            </div>&lt;!&ndash; End .footer-bottom &ndash;&gt;-->
        </div><!-- End .container -->
    </footer><!-- End .footer -->
</th:block>