<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                                     ~{:: title},
                                                                    'header',
                                                                    'footer',
                                                                     ~{:: #css-resources},
                                                                     ~{:: #js-resources},
                                                                     ~{:: #main-content}
                                                                    )}">
<head>
    <meta charset="UTF-8">
    <title>Hướng dẫn mua hàng</title>
    <th:block id="css-resources">

    </th:block>
</head>
<body>
<main class="main" id="main-content">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Chính sách đổi trả</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="light-title"><strong>Chính sách đổi trả</strong></h2>
                <h3 style="color: red">Đối với khách hàng ở Hà Nội hoặc mua hàng trực tiếp tại cửa hàng của Prince</h3>
                    <p>- Trong vòng 7 ngày kể từ ngày mua hàng (Theo thời gian ghi trong hoá đơn), quý khách được phép đổi size, đổi mẫu hoặc trả hàng và nhận lại tiền.</p>
                    <p>- Khi đến đổi, quý khách vui lòng mang theo sản phẩm trong tình trạng chưa qua sử dụng.</p>
                <h3 style="color:red;">Đối với khách hàng ở các tỉnh ngoài Hà Nội khi đặt hàng của Prince</h3>
                <p>- Trong vòng 7 ngày kể từ ngày nhận hàng (Theo thời gian ghi trong hoá đơn, hoặc mã đơn hàng), quý khách được phép đổi size, đổi mẫu hoặc trả lại hàng và nhận lại tiền.</p>
                <p>- Quý khách vui lòng thông báo trước về tình trạng sản phẩm, nguyên do đổi hàng qua inbox Fanpgage: http://facebook.com/tushoes.hn hoặc Hotline: 0968.585.135. Sau đó sẽ nhận được hướng dẫn từ đội ngũ hỗ trợ của Tu Shoes.</p>
                <p>- Trường hợp Sản phẩm lỗi do nhà sản xuất hoặc bên phía cửa hàng gửi nhầm Sản phẩm của Quý khách. Prince xin chịu hoàn toàn Phí Vận Chuyển để đảm bảo quý khách có một Sản phẩm tốt nhất.</p>
                <h3 style="color: red">Lưu ý:</h3>
                <p>- Những sản phẩm đã qua sử dụng thì sẽ không áp dụng đổi trả.</p>
                <p>- Các sản phẩm trong chương trình khuyến mãi, giảm giá tùy theo sự kiện mà Prince công bố</p>
                <p>- Điều kiện: Sản phẩm còn mới 100%</p>
                <p>Cảm ơn Quý Khách hàng đã tin tưởng và cho Prince cơ hội được phục vụ Quý Khách!</p>
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-8"></div><!-- margin -->
</main><!-- End .main -->
<th:block id="js-resources">

</th:block>
</body>
</html>