<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                                     ~{:: title},
                                                                    'header',
                                                                    'footer',
                                                                     ~{:: #css-resources},
                                                                     ~{:: #js-resources},
                                                                     ~{:: #main-content}
                                                                    )}">
<head>
    <meta charset="UTF-8">
    <title>Tin tức</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/adminlte/pagination/simplePagination.css}">
    </th:block>
</head>
<body>
<main class="main" id="main-content">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>

    <div class="container">
        <form method="GET" id="search-form">
            <div class="row">
            <div class="col-lg-12">
                <th:block th:each="post : ${posts}">
                    <article class="post">
                        <div class="post-media">
                            <a th:href="@{/tin-tuc/{slug}/{id}(id=${post.id},slug=${post.slug})}">
                                <img th:src="@{${post.thumbnail}}" th:alt="${post.title}">
                            </a>
                        </div>
                        <!-- End .post-media -->

                        <div class="post-body">
                            <div class="post-date">
                                <span class="month" th:text="${#dates.format(post.publishedAt, 'MM yyyy')}"></span></p>
                            </div>
                            <!-- End .post-date -->

                            <h2 class="post-title">
                                <a th:href="@{/tin-tuc/{slug}/{id}(id=${post.id},slug=${post.slug})}" th:text="${post.title}"></a>
                            </h2>

                            <div class="post-content">
                                <p th:utext="${post.content}"></p>

                                <a th:href="@{/tin-tuc/{slug}/{id}(id=${post.id},slug=${post.slug})}" class="read-more">Read More <i
                                        class="icon-angle-double-right"></i></a>
                            </div>
                            <!-- End .post-content -->

                            <div class="post-meta">
                                <i class="icon-calendar"></i><span th:text="${#dates.format(post.publishedAt, 'dd-MM-yyyy')}"></span>
                                <span><i class="icon-user"></i>By <a th:text="${post.createdBy.fullName}"></a></span>
                            </div>
                            <!-- End .post-meta -->
                        </div>
                        <!-- End .post-body -->
                    </article>
                    <!-- End .post -->
                </th:block>

                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination"></ul>
                </nav>
            </div>
            <!-- End .col-lg-9 -->
        </div>
            <input type="hidden" name="page" id="page">
        </form>
        <!-- End .row -->
    </div>
    <!-- End .container -->
</main>
<!-- End .main -->


<th:block id="js-resources">
    <script type="text/javascript" th:src="@{/adminlte/pagination/jquery.simplePagination.js}"></script>
    <script type="text/javascript" th:src="@{/adminlte/js/table.js}"></script>
    <script th:inline="javascript">
        let page;
        $(function (){
            let vars = parseUrl();
            page = vars["page"] || "1"
            $('#page').val(page)
            pagination([[${totalPages}]], [[${currentPage}]]);
        })
    </script>
</th:block>
</body>
</html>