<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="main-fragment(title,header,footer,cssResources,jsResources,mainContent)"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title th:replace="${title}">Shop Shoes</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template" />
    <meta name="author" content="SW-THEMES" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      th:href="@{https://printgo.vn/uploads/media/772948/thiet-ke-logo-shop-giay-16_1584094948.jpg}"
    />
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/shop/css/bootstrap.min.css}" />
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/shop/css/style.min.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/shop/vendor/fontawesome-free/css/all.min.css}"
    />
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/shop/vendor/simple-line-icons/css/simple-line-icons.min.css}">-->
    <link rel="stylesheet" th:href="@{/shop/toastr/toastr.min.css}" />
    <th:block th:replace="${cssResources} ?: ~{}"></th:block>
    <style>
      label.error {
      }
      label.error {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <!-- HEADER -->
      <th:block th:replace="~{fragment/header :: ${header}}"></th:block>

      <!-- BODY -->
      <th:block th:replace="${mainContent} ?: ~{}"></th:block>

      <!-- Login-Modal -->
      <th:block th:replace="~{fragment/login_modal :: login_modal}"></th:block>

      <!-- FOOTER -->
      <th:block th:replace="~{fragment/footer :: ${footer}}"></th:block>
    </div>
    <!-- End .page-wrapper -->

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <!--<div class="mobile-menu-container">-->
    <!--    <div class="mobile-menu-wrapper">-->
    <!--        <span class="mobile-menu-close"><i class="icon-cancel"></i></span>-->
    <!--        <nav class="mobile-nav">-->
    <!--            <ul class="mobile-menu mb-3">-->
    <!--                <li class="active"><a href="index-2.html">Home</a></li>-->
    <!--                <li>-->
    <!--                    <a href="category.html">Categories</a>-->
    <!--                    <ul>-->
    <!--                        <li><a href="category.html">Full Width Banner</a></li>-->
    <!--                        <li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>-->
    <!--                        <li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>-->
    <!--                        <li><a href="category.html">Left Sidebar</a></li>-->
    <!--                        <li><a href="category-sidebar-right.html">Right Sidebar</a></li>-->
    <!--                        <li><a href="category-flex-grid.html">Product Flex Grid</a></li>-->
    <!--                        <li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>-->
    <!--                        <li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>-->
    <!--                        <li><a href="#">List Types</a></li>-->
    <!--                        <li><a href="category-infinite-scroll.html">Ajax Infinite Scroll<span-->
    <!--                                class="tip tip-new">New</span></a></li>-->
    <!--                        <li><a href="category.html">3 Columns Products</a></li>-->
    <!--                        <li><a href="category-4col.html">4 Columns Products</a></li>-->
    <!--                        <li><a href="category-5col.html">5 Columns Products</a></li>-->
    <!--                        <li><a href="category-6col.html">6 Columns Products</a></li>-->
    <!--                        <li><a href="category-7col.html">7 Columns Products</a></li>-->
    <!--                        <li><a href="category-8col.html">8 Columns Products</a></li>-->
    <!--                    </ul>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="product.html">Products</a>-->
    <!--                    <ul>-->
    <!--                        <li>-->
    <!--                            <a href="#">Variations</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="product.html">Horizontal Thumbs</a></li>-->
    <!--                                <li><a href="product-full-width.html">Vertical Thumbnails<span-->
    <!--                                        class="tip tip-hot">Hot!</span></a></li>-->
    <!--                                <li><a href="product.html">Inner Zoom</a></li>-->
    <!--                                <li><a href="product-addcart-sticky.html">Addtocart Sticky</a></li>-->
    <!--                                <li><a href="product-sidebar-left.html">Accordion Tabs</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->
    <!--                        <li>-->
    <!--                            <a href="#">Variations</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="product-sticky-tab.html">Sticky Tabs</a></li>-->
    <!--                                <li><a href="product-simple.html">Simple Product</a></li>-->
    <!--                                <li><a href="product-sidebar-left.html">With Left Sidebar</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->
    <!--                        <li>-->
    <!--                            <a href="#">Product Layout Types</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="product.html">Default Layout</a></li>-->
    <!--                                <li><a href="product-extended-layout.html">Extended Layout</a></li>-->
    <!--                                <li><a href="product-full-width.html">Full Width Layout</a></li>-->
    <!--                                <li><a href="product-grid-layout.html">Grid Images Layout</a></li>-->
    <!--                                <li><a href="product-sticky-both.html">Sticky Both Side Info<span class="tip tip-hot">Hot!</span></a>-->
    <!--                                </li>-->
    <!--                                <li><a href="product-sticky-info.html">Sticky Right Side Info</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->
    <!--                    </ul>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>-->
    <!--                    <ul>-->
    <!--                        <li><a href="cart.html">Shopping Cart</a></li>-->
    <!--                        <li>-->
    <!--                            <a href="#">Checkout</a>-->
    <!--                            <ul>-->
    <!--                                <li><a href="checkout-shipping.html">Checkout Shipping</a></li>-->
    <!--                                <li><a href="checkout-shipping-2.html">Checkout Shipping 2</a></li>-->
    <!--                                <li><a href="checkout-review.html">Checkout Review</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->
    <!--                        <li><a href="about.html">About</a></li>-->
    <!--                        <li><a href="#" class="login-link">Login</a></li>-->
    <!--                        <li><a href="forgot-password.html">Forgot Password</a></li>-->
    <!--                    </ul>-->
    <!--                </li>-->
    <!--                <li><a href="blog.html">Blog</a>-->
    <!--                    <ul>-->
    <!--                        <li><a href="single.html">Blog Post</a></li>-->
    <!--                    </ul>-->
    <!--                </li>-->
    <!--                <li><a href="contact.html">Contact Us</a></li>-->
    <!--                <li><a href="#">Special Offer!<span class="tip tip-hot">Hot!</span></a></li>-->
    <!--                <li><a href="https://1.envato.market/DdLk5" target="_blank">Buy Porto!</a></li>-->
    <!--            </ul>-->

    <!--            <ul class="mobile-menu">-->
    <!--                <li><a href="my-account.html">Track Order </a></li>-->
    <!--                <li><a href="about.html">About</a></li>-->
    <!--                <li><a href="category.html">Our Stores</a></li>-->
    <!--                <li><a href="blog.html">Blog</a></li>-->
    <!--                <li><a href="contact.html">Contact</a></li>-->
    <!--                <li><a href="#">Help &amp; FAQs</a></li>-->
    <!--            </ul>-->
    <!--        </nav>&lt;!&ndash; End .mobile-nav &ndash;&gt;-->

    <!--        <div class="social-icons">-->
    <!--            <a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>-->
    <!--            <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>-->
    <!--            <a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>-->
    <!--        </div>&lt;!&ndash; End .social-icons &ndash;&gt;-->
    <!--    </div>&lt;!&ndash; End .mobile-menu-wrapper &ndash;&gt;-->
    <!--</div>&lt;!&ndash; End .mobile-menu-container &ndash;&gt;-->

    <!-- Add Cart Modal -->
    <!--<div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal" aria-hidden="true">-->
    <!--    <div class="modal-dialog" role="document">-->
    <!--        <div class="modal-content">-->
    <!--            <div class="modal-body add-cart-box text-center">-->
    <!--                <p>You've just added this product to the<br>cart:</p>-->
    <!--                <h4 id="productTitle"></h4>-->
    <!--                <img src="#" id="productImage" width="100" height="100" alt="adding cart image">-->
    <!--                <div class="btn-actions">-->
    <!--                    <a href="cart.html">-->
    <!--                        <button class="btn-primary">Go to cart page</button>-->
    <!--                    </a>-->
    <!--                    <a href="#">-->
    <!--                        <button class="btn-primary" data-dismiss="modal">Continue</button>-->
    <!--                    </a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <a id="scroll-top" href="#top" title="Top" role="button"
      ><i class="icon-angle-up"></i
    ></a>

    <!-- Plugins JS File -->
    <script th:src="@{/shop/js/jquery.min.js}"></script>
    <script th:src="@{/shop/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/shop/js/plugins.min.js}"></script>

    <!-- Main JS File -->
    <script th:src="@{/shop/js/main.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"
      type="text/javascript"
    ></script>
    <script th:src="@{/shop/js/user.js}"></script>
    <script
      type="text/javascript"
      th:src="@{/shop/toastr/toastr.min.js}"
    ></script>

    <script th:inline="javascript">
      let isLogined = [[${isLogined}]];

      $(function () {
          if (isLogined == true) {
              signedValidate(true, [[${user_fullname}]]);
          } else {
              signedValidate();
          }
      })
      function formatMoney() {
          $('.text-price').each(function (index, element) {
              money = $(element).text();
              $(element).text(convertPrice(money));
          });
          $('.text-price-input').each(function (index, element) {
              money = $(element).val();
              $(element).val(convertPrice(money));
          });
      }
      function convertPrice(currency) {
          let convert = new Intl.NumberFormat('vn-VN', {
              minimumFractionDigits: 0
          }).format(currency);

          return convert;
      }
      $('.text-price-input').keyup(function (event) {
          if (event.which >= 37 && event.which <= 40) return;
          $(this).val(function (index, value) {
              return value
                  .replace(/\D/g, "")
          });
      })
    </script>

    <!-- Load Facebook SDK for JavaScript -->
    <!-- <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: "v10.0",
        });
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script> -->

    <!-- Your Chat Plugin code -->
    <!-- <div
      class="fb-customerchat"
      attribution="setup_tool"
      page_id="100953808790180"
    ></div> -->

    <th:block th:replace="${jsResources} ?: ~{}"></th:block>
  </body>

  <!-- Mirrored from portotheme.com/html/porto_ecommerce/demo_6/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Mar 2021 05:23:00 GMT -->
</html>
